<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.donl.health.mapper.ConsultReplyMapper">
  <resultMap id="BaseResultMap" type="top.donl.health.model.po.ConsultReply">
    <!--@mbg.generated-->
    <!--@Table consult_reply-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="consult_id" jdbcType="BIGINT" property="consultId" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="replier" jdbcType="VARCHAR" property="replier" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, consult_id, reply_content, replier, create_time, create_by, update_time, update_by, 
    is_deleted
  </sql>

  <select id="findCountByQuery" resultType="long">
    select count(*)
    from consult_reply
    where is_deleted = 0 and consult_id = #{query.consultId}
    </select>

  <select id="findByQuery" resultType="top.donl.health.model.vo.consultReply.ConsultReplyVO">
    select id, reply_content, replier, create_time, update_time
      from consult_reply
    where is_deleted = 0 and consult_id = #{query.consultId}
    order by create_time desc
    limit #{query.pageSize}
    offset #{query.pageSkip}
  </select>

  <select id="findByConsultId" resultType="top.donl.health.model.vo.consultReply.ConsultReplyVO">
    select
    <include refid="Base_Column_List" />
    from consult_reply
    where is_deleted = 0 and consult_id = #{consultId}
    order by create_time desc, id desc
    </select>
</mapper>