<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.donl.health.mapper.MentalResourceMapper">
  <resultMap id="BaseResultMap" type="top.donl.health.model.po.MentalResource">
    <!--@mbg.generated-->
    <!--@Table mental_resource-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="attachment" jdbcType="VARCHAR" property="attachment" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, `desc`, thumbnail, attachment, publisher, create_time, create_by, update_time, 
    update_by, is_deleted
  </sql>

  <select id="findTotalCountByQuery" resultType="long">
    select count(*)
    from mental_resource
    where is_deleted = 0
    <if test="query.title != null and query.title != ''">
      and title like concat('%', #{query.title}, '%')
    </if>

  </select>

  <select id="findByList" resultType="top.donl.health.model.vo.resource.MentalResourceVO">
    select
    <include refid="Base_Column_List" />
    from mental_resource
    where is_deleted = 0
    <if test="query.title != null and query.title != ''">
      and title like concat('%', #{query.title}, '%')
    </if>
    order by create_time desc
    limit #{query.pageSize}
    offset #{query.pageSkip}
  </select>
</mapper>