<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.donl.health.mapper.MentalEvaluationMapper">
  <resultMap id="BaseResultMap" type="top.donl.health.model.po.MentalEvaluation">
    <!--@mbg.generated-->
    <!--@Table mental_evaluation-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, url, publisher, `desc`, create_time, create_by, update_time, update_by, is_deleted
  </sql>

  <select id="findCountByQuery" resultType="long">
    select count(*)
    from mental_evaluation
    where is_deleted = 0
    <if test="query.keyword != null and query.keyword != ''">
      and title like concat('%', #{query.keyword}, '%')
    </if>
  </select>

  <select id="findByQuery" resultType="top.donl.health.model.vo.evaluation.MentalEvaluationVO">
    select id, url, title, create_time, update_time, publisher, `desc`
    from mental_evaluation
    where is_deleted = 0
    <if test="query.keyword != null and query.keyword != ''">
      and title like concat('%', #{query.keyword}, '%')
    </if>
    limit #{query.pageSize,jdbcType=INTEGER}
    offset #{query.pageSkip}
  </select>
</mapper>